$bg-color: black;
$default-font: arial, verdana;
$primary-color: red;
$secondary-color: green;
$white-color: #ffffff;
$cream-color: #F1EDEA;
$cream1-color: #e8e2d6;
$green-color: #84bc22;
$darkgray-color: #45413e;
$osf-text-color: #011847;
$academy-text-color: #84bc22;
